venv/
*.o
*.elf
*.bin
*.hex
*.map
*.list
Debug/
Release/
.DS_Store
__pycache__/
*.pyc
scope/*.png
hardware/blinkMX/Drivers/
hardware/blinkMX/.settings/
hardware/blinkMX/.cproject
hardware/blinkMX/.project
